<body>
  <header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
      <nav class="nav-color">
        <div class="nav-wrapper">
          <ul>
            <li>
              <h1 class="logo-wrapper">
                <a href="index.html" class="brand-logo center">
                  <span class="logo-text">Burnrate</span>
                </a>
              </h1>
            </li>
          </ul>
          <ul class="right">

            <li>
              <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                <i class="material-icons">settings_overscan</i>
              </a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
    <!-- end header nav-->
  </header>
  <br/>
  <section id="content">
    <form id="signup" name="signup" method="post" action="/signup">
      <label for="email">Email Address</label>
      <input class="text" name="email" type="email" />
      <label for="firstname">Firstname</label>
      <input name="firstname" type="text" />
      <label for="lastname">Lastname</label>
      <input name="lastname" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <input class="btn" type="submit" value="Sign Up" />
    </form>
  </section>

</body>

